[
	name: 'library'
	apiKey: 'ENV:LIBRARY_API_KEY'
	scripts:

		# Global libs
		# -----------
		'lib-api-store.js': 'libs/lib-api-store.js'
		'lib-chrome-launcher.js': 'libs/lib-chrome-launcher.js'
		'lib-DiscoverMail.js': 'libs/lib-DiscoverMail.js'
		'lib-Dropcontact.js': 'libs/lib-Dropcontact.js'
		'lib-Facebook.js': 'libs/lib-Facebook.js'
		'lib-GitHub.js': 'libs/lib-GitHub.js'
		'lib-Google.js': 'libs/lib-Google.js'
		'lib-Hunter.js': 'libs/lib-Hunter.js'
		'lib-Instagram.js': 'libs/lib-Instagram.js'
		'lib-Intercom.js': 'libs/lib-Intercom.js'
		'lib-LinkedIn.js': 'libs/lib-LinkedIn.js'
		'lib-LinkedIn-pptr.js': 'libs/lib-LinkedIn-pptr.js'
		'lib-LinkedInScraper.js': 'libs/lib-LinkedInScraper.js'
		'lib-Medium.js': 'libs/lib-Medium.js'
		'lib-Messaging.js': 'libs/lib-Messaging.js'
		'lib-Nick-beta.coffee': 'libs/lib-Nick-beta.coffee'
		'lib-PhongoLab-beta.coffee': 'libs/lib-PhongoLab-beta.coffee'
		'lib-ProductHunt.js': 'libs/lib-ProductHunt.js'
		'lib-request-beta.coffee': 'libs/lib-request-beta.coffee'
		'lib-Slack.js': 'libs/lib-Slack.js'
		'lib-StoreUtilities.js': 'libs/lib-StoreUtilities.js'
		'lib-Twitter.js': 'libs/lib-Twitter.js'
		'lib-WebSearch.js': 'libs/lib-WebSearch.js'
		'lib-Youtube.js': 'libs/lib-Youtube.js'


		# API store
		# ---------
		'AngelList Market Companies Extractor.js': 'store/AngelList Market Companies Extractor/AngelList Market Companies Extractor.js'
		'Chrome Extension Review Extractor.js': '/store/Chrome Extension Review Extractor/Chrome Extension Review Extractor.js'
		'Craigslist Page Scraper.js': '/store/Craigslist Page Scraper/Craigslist Page Scraper.js'
		'Domain Name Finder.js': 'store/Domain Name Finder/Domain Name Finder.js'
		'Email Extractor.js': 'store/Email Extractor/Email Extractor.js'
		'Email To LinkedIn Profile URL Finder.js': 'store/Email To LinkedIn Profile URL Finder/Email To LinkedIn Profile URL Finder.js'
		'Facebook Audience Builder.js': 'store/Facebook Audience Builder/Facebook Audience Builder.js'
		'Facebook Auto Liker.js': 'store/Facebook Auto Liker/Facebook Auto Liker.js'
		'Facebook Birthday Wisher.js': 'store/Facebook Birthday Wisher/Facebook Birthday Wisher.js'
		'Facebook Event Guests Exporter.js': 'store/Facebook Event Guests Exporter/Facebook Event Guests Exporter.js'
		'Facebook Friends Collector.js': 'store/Facebook Friends Collector/Facebook Friends Collector.js'
		'Facebook Group Extractor.js': 'store/Facebook Group Extractor/Facebook Group Extractor.js'
		'Facebook ID Finder.js': 'store/Facebook ID Finder/Facebook ID Finder.js'
		'Facebook Message Sender.js': 'store/Facebook Message Sender/Facebook Message Sender.js'
		'Facebook Network Booster.js': 'store/Facebook Network Booster/Facebook Network Booster.js'
		'Facebook Page Likers.js': 'store/Facebook Page Likers/Facebook Page Likers.js'
		'Facebook Page Reviews Collector.js': 'store/Facebook Page Reviews Collector/Facebook Page Reviews Collector.js'
		'Facebook Post Commenters.js': 'store/Facebook Post Commenters/Facebook Post Commenters.js'
		'Facebook Post Likers.js': 'store/Facebook Post Likers/Facebook Post Likers.js'
		'Facebook Profile Scraper.js': 'store/Facebook Profile Scraper/Facebook Profile Scraper.js'
		'Facebook Profile URL Finder.js': 'store/Facebook Profile URL Finder/Facebook Profile URL Finder.js'
		'GitHub Contributors Extractor.js': 'store/GitHub Contributors Extractor/GitHub Contributors Extractor.js'
		'GitHub Stargazers Extractor.js': 'store/GitHub Stargazers Extractor/GitHub Stargazers Extractor.js'
		'GitHub Profile Scraper.js': 'store/Github Profile Scraper/GitHub Profile Scraper.js'
		'Instagram Auto Commenter.js': 'store/Instagram Auto Commenter/Instagram Auto Commenter.js'
		'Instagram Auto Follow.js': 'store/Instagram Auto Follow/Instagram Auto Follow.js'
		'Instagram Auto Liker.js': 'store/Instagram Auto Liker/Instagram Auto Liker.js'
		'Instagram Follower Collector.js': 'store/Instagram Follower Collector/Instagram Follower Collector.js'
		'Instagram Following Collector.js': 'store/Instagram Following Collector/Instagram Following Collector.js'
		'Instagram Hashtag Collector.js': 'store/Instagram Hashtag Collector/Instagram Hashtag Collector.js'
		'Instagram Hashtag Searcher.js': 'store/Instagram Hashtag Searcher/Instagram Hashtag Searcher.js'
		'Instagram Photo Likers.js': 'store/Instagram Photo Likers/Instagram Photo Likers.js'
		'Instagram Post Commenters.js': 'store/Instagram Post Commenters/Instagram Post Commenters.js'
		'Instagram Post Data Extractor.js': 'store/Instagram Post Data Extractor/Instagram Post Data Extractor.js'
		'Instagram Posts Extractor.js': 'store/Instagram Posts Extractor/Instagram Posts Extractor.js'
		'Instagram Profile URL Finder.js': 'store/Instagram Profile URL Finder/Instagram Profile URL Finder.js'
		'Instagram Profile Scraper.js': 'store/Instagram Profile Scraper/Instagram Profile Scraper.js'
		'Instagram Multi Hashtag Search.js': 'store/Instagram Multi Hashtag Search/Instagram Multi Hashtag Search.js'
		'Intercom Auto Archiver.js': 'store/Intercom Auto Archiver/Intercom Auto Archiver.js'
		'Intercom Message Sender.js': 'store/Intercom Message Sender/Intercom Message Sender.js'
		'LinkedIn Accept Invitations.js': 'store/LinkedIn Accept Invitations/LinkedIn Accept Invitations.js'
		'LinkedIn Activities Extractor.js': 'store/LinkedIn Activities Extractor/LinkedIn Activities Extractor.js'
		'LinkedIn Auto Endorse.js': 'store/LinkedIn Auto Endorse/LinkedIn Auto Endorse.js'
		'LinkedIn Auto Follow.js': 'store/LinkedIn Auto Follow/LinkedIn Auto Follow.js'
		'LinkedIn Auto Liker.js': 'store/LinkedIn Auto Liker/LinkedIn Auto Liker.js'
		'LinkedIn Auto Commenter.js': 'store/LinkedIn Auto Commenter/LinkedIn Auto Commenter.js'
		'LinkedIn Auto Withdraw.js': 'store/LinkedIn Auto Withdraw/LinkedIn Auto Withdraw.js'
		'LinkedIn Chat Extractor.js': 'store/LinkedIn Chat Extractor/LinkedIn Chat Extractor.js'
		'LinkedIn Chat Send Message.js': 'store/LinkedIn Chat Send Message/LinkedIn Chat Send Message.js'
		'LinkedIn Companies Employees.js': 'store/LinkedIn Companies Employees/LinkedIn Companies Employees.js'
		'LinkedIn Companies Info.js': 'store/LinkedIn Companies Info/LinkedIn Companies Info.js'
		'LinkedIn Company URL Finder.js': 'store/LinkedIn Company URL Finder/LinkedIn Company URL Finder.js'
		'LinkedIn Contacts Extractor.js': 'store/LinkedIn Contacts Extractor/LinkedIn Contacts Extractor.js'
		'LinkedIn Followers Insights.js': 'store/LinkedIn Followers Insights/LinkedIn Followers Insights.js'
		'LinkedIn Group Members.js': 'store/LinkedIn Group Members/LinkedIn Group Members.js'
		'LinkedIn Learning Likers.js': 'store/LinkedIn Learning Likers/LinkedIn Learning Likers.js'
		'LinkedIn Message Sender.js': 'store/LinkedIn Message Sender/LinkedIn Message Sender.js'
		'LinkedIn Network Booster.js': 'store/LinkedIn Network Booster/LinkedIn Network Booster.js'
		'LinkedIn Post Commenters.js': 'store/LinkedIn Post Commenters/LinkedIn Post Commenters.js'
		'LinkedIn Post Likers.js': 'store/LinkedIn Post Likers/LinkedIn Post Likers.js'
		'LinkedIn Profile Scraper.js': 'store/LinkedIn Profile Scraper/LinkedIn Profile Scraper.js'
		'LinkedIn Profile URL Finder.js': 'store/LinkedIn Profile URL Finder/LinkedIn Profile URL Finder.js'
		'LinkedIn Recruiter Profile Scraper.js': 'store/LinkedIn Recruiter Profile Scraper/LinkedIn Recruiter Profile Scraper.js'
		'LinkedIn Sales Navigator Email Finder.js': 'store/LinkedIn Sales Navigator Email Finder/LinkedIn Sales Navigator Email Finder.js'
		'LinkedIn Sales Navigator Profile Scraper.js': 'store/LinkedIn Sales Navigator Profile Scraper/LinkedIn Sales Navigator Profile Scraper.js'
		'LinkedIn Sales Navigator Search Export.js': 'store/LinkedIn Sales Navigator Search Export/LinkedIn Sales Navigator Search Export.js'
		'LinkedIn Sales Navigator URL Converter.js': 'store/LinkedIn Sales Navigator URL Converter/LinkedIn Sales Navigator URL Converter.js'
		'LinkedIn Search and Invite.js': 'store/LinkedIn Search and Invite/LinkedIn Search and Invite.js'
		'LinkedIn Search Export.js': 'store/LinkedIn Search Export/LinkedIn Search Export.js'
		'Medium Auto Clapper.js': 'store/Medium Auto Clapper/Medium Auto Clapper.js'
		'Medium Post Clappers.js': 'store/Medium Post Clappers/Medium Post Clappers.js'
		'Medium Search Export.js': 'store/Medium Search Export/Medium Search Export.js'
		'Pinterest Profile URL Finder.js': 'store/Pinterest Profile URL Finder/Pinterest Profile URL Finder.js'
		'Product Hunt Auto Follow.js': 'store/Product Hunt Auto Follow/Product Hunt Auto Follow.js'
		'Product Hunt Auto Upvoter.js': 'store/Product Hunt Auto Upvoter/Product Hunt Auto Upvoter.js'
		'Product Hunt Products Extractor.js': 'store/Product Hunt Products Extractor/Product Hunt Products Extractor.js'
		'Product Hunt Profile Scraper.js': 'store/Product Hunt Profile Scraper/Product Hunt Profile Scraper.js'
		'Product Hunt Upvoter Extractor.js': 'store/Product Hunt Upvoter Extractor/Product Hunt Upvoter Extractor.js'
		'Quora Topics Influencers.js': 'store/Quora Topics Influencers/Quora Topics Influencers.js'
		'Reddit Posts Extractor.js': 'store/Reddit Posts Extractor/Reddit Posts Extractor.js'
		'Slack Channel User Extractor.js': 'store/Slack User Extractor/Slack User Extractor.js'
		'Slack Message Sender.js': 'store/Slack Message Sender/Slack Message Sender.js'
		'Twitter Auto Follow.js': 'store/Twitter Auto Follow/Twitter Auto Follow.js'
		'Twitter Auto Liker.js': 'store/Twitter Auto Liker/Twitter Auto Liker.js'
		'Twitter Auto Retweeter.js': 'store/Twitter Auto Retweeter/Twitter Auto Retweeter.js'
		'Twitter Follower Collector.js': 'store/Twitter Follower Collector/Twitter Follower Collector.js'
		'Twitter Following Collector.js': 'store/Twitter Following Collector/Twitter Following Collector.js'
		'Twitter Hashtag Collector.js': 'store/Twitter Hashtag Extractor/Twitter Hashtag Extractor.js'
		'Twitter Network Cleaner.js': 'store/Twitter Network Cleaner/Twitter Network Cleaner.js'
		'Twitter Likes Export.js': 'store/Twitter Likes Export/Twitter Likes Export.js'
		'Twitter Profile Like Extractor.js': 'store/Twitter Profile Like Extractor/Twitter Profile Like Extractor.js'
		'Twitter Profile Scraper.js': 'store/Twitter Profile Scraper/Twitter Profile Scraper.js'
		'Twitter Profile URL Finder.js': 'store/Twitter Profile URL Finder/Twitter Profile URL Finder.js'
		'Twitter Media Extractor.js': 'store/Twitter Media Extractor/Twitter Media Extractor.js'
		'Twitter Message Sender.js': 'store/Twitter Message Sender/Twitter Message Sender.js'
		'Twitter Tweet Sender.js': 'store/Twitter Tweet Sender/Twitter Tweet Sender.js'
		'Uber Billing Extractor.js': 'store/Uber Billing Extractor/Uber Billing Extractor.js'
		'Web Elements Extractor.js': 'store/Web Elements Extractor/Web Elements Extractor.js'
		'YouTube Channel Scraper.js': 'store/YouTube Channel Scraper/YouTube Channel Scraper.js'
		'YouTube Videos Extractor.js': 'store/YouTube Videos Extractor/YouTube Videos Extractor.js'

		# scraping-challenges
		# -------------------
		'scraping-challenge-0.js': 'scraping-challenges/scraping-challenge-0.js'
		'scraping-challenge-1.js': 'scraping-challenges/scraping-challenge-1.js'
		'scraping-challenge-2.js': 'scraping-challenges/scraping-challenge-2.js'
		'scraping-challenge-3.js': 'scraping-challenges/scraping-challenge-3.js'
		'scraping-challenge-4.js': 'scraping-challenges/scraping-challenge-4.js'
		'scraping-challenge-5.js': 'scraping-challenges/scraping-challenge-5.js'

		# Script samples
		# --------------
		'sample-Nick.js': 'samples/sample-Nick.js'
		'sample-CasperJS.js': 'samples/sample-CasperJS.js'
		'sample-PhantomJS.js': 'samples/sample-PhantomJS.js'
		'sample-Node.js': 'samples/sample-Node.js'
		'sample-WhatsMyIp.js': 'samples/sample-WhatsMyIp.js'
		'sample-Chromeless.js': 'samples/sample-Chromeless.js'
		'Hacker News Front Page Tutorial.js': 'samples/Hacker News Front Page Tutorial.js'

]
