[
	name: 'library'
	apiKey: 'ENV:LIBRARY_API_KEY'
	scripts:

		# Global libs DEV
		# ---------------
		'lib-StoreUtilities-DEV.js': 'libs/DEV/lib-StoreUtilities-DEV.js'
		'lib-LinkedIn-DEV.js': 'libs/DEV/lib-LinkedIn-DEV.js'
		'lib-WebSearch-DEV.js': 'libs/DEV/lib-WebSearch-DEV.js'
		'lib-LinkedInScraper-DEV.js': 'libs/DEV/lib-LinkedInScraper-DEV.js'
		'lib-Instagram-DEV.js': 'libs/DEV/lib-Instagram-DEV.js'
		'lib-Twitter-DEV.js': 'libs/DEV/lib-Twitter-DEV.js'
		'lib-Facebook-DEV.js': 'libs/DEV/lib-Facebook-DEV.js'
		'lib-Messaging-DEV.js': 'libs/DEV/lib-Messaging-DEV.js'
		'lib-Google-DEV.js': 'libs/DEV/lib-Google-DEV.js'

		# API store DEV
		# -------------
		'AngelList Market Companies Extractor DEV.js': 'store/DEV/AngelList Market Companies Extractor DEV/AngelList Market Companies Extractor DEV.js'
		'Domain Name Finder DEV.js': 'store/DEV/Domain Name Finder DEV/Domain Name Finder DEV.js'
		'Chrome Extension Review Extractor DEV.js': '/store/DEV/Chrome Extension Review Extractor DEV/Chrome Extension Review Extractor DEV.js'
		'Email Extractor DEV.js': 'store/DEV/Email Extractor DEV/Email Extractor DEV.js'
		'Email To LinkedIn Profile URL Finder DEV.js': 'store/DEV/Email To LinkedIn Profile URL Finder DEV/Email To LinkedIn Profile URL Finder DEV.js'
		'Facebook Audience Builder DEV.js': 'store/DEV/Facebook Audience Builder DEV/Facebook Audience Builder DEV.js'
		'Facebook Auto Liker DEV.js': 'store/DEV/Facebook Auto Liker DEV/Facebook Auto Liker DEV.js'
		'Facebook Birthday Wisher DEV.js': 'store/DEV/Facebook Birthday Wisher DEV/Facebook Birthday Wisher DEV.js'
		'Facebook Event Guests Exporter DEV.js': 'store/DEV/Facebook Event Guests Exporter DEV/Facebook Event Guests Exporter DEV.js'
		'Facebook Group Extractor DEV.js': 'store/DEV/Facebook Group Extractor DEV/Facebook Group Extractor DEV.js'
		'Facebook ID Finder DEV.js': 'store/DEV/Facebook ID Finder DEV/Facebook ID Finder DEV.js'
		'Facebook Message Sender DEV.js': 'store/DEV/Facebook Message Sender DEV/Facebook Message Sender DEV.js'
		'Facebook Network Booster DEV.js': 'store/DEV/Facebook Network Booster DEV/Facebook Network Booster DEV.js'
		'Facebook Page Likers DEV.js': 'store/DEV/Facebook Page Likers DEV/Facebook Page Likers DEV.js'
		'Facebook Post Commenters DEV.js': 'store/DEV/Facebook Post Commenters DEV/Facebook Post Commenters DEV.js'
		'Facebook Post Likers DEV.js': 'store/DEV/Facebook Post Likers DEV/Facebook Post Likers DEV.js'
		'Facebook Profile Scraper DEV.js': 'store/DEV/Facebook Profile Scraper DEV/Facebook Profile Scraper DEV.js'
		'Facebook Profile URL Finder DEV.js': 'store/DEV/Facebook Profile URL Finder DEV/Facebook Profile URL Finder DEV.js'
		'Instagram Auto Follow DEV.js': 'store/DEV/Instagram Auto Follow DEV/Instagram Auto Follow DEV.js'
		'Instagram Auto Liker DEV.js': 'store/DEV/Instagram Auto Liker DEV/Instagram Auto Liker DEV.js'
		'Instagram Follower Collector DEV.js': 'store/DEV/Instagram Follower Collector DEV/Instagram Follower Collector DEV.js'
		'Instagram Following Collector DEV.js': 'store/DEV/Instagram Following Collector DEV/Instagram Following Collector DEV.js'
		'Instagram Hashtag Collector DEV.js': 'store/DEV/Instagram Hashtag Collector DEV/Instagram Hashtag Collector DEV.js'
		'Instagram Multi Hashtag Search DEV.js': 'store/DEV/Instagram Multi Hashtag Search DEV/Instagram Multi Hashtag Search DEV.js'
		'Instagram Photo Likers DEV.js': 'store/DEV/Instagram Photo Likers DEV/Instagram Photo Likers DEV.js'
		'Instagram Post Data Extractor DEV.js': 'store/DEV/Instagram Post Data Extractor DEV/Instagram Post Data Extractor DEV.js'
		'Instagram Profile URL Finder DEV.js': 'store/DEV/Instagram Profile URL Finder DEV/Instagram Profile URL Finder DEV.js'
		'Instagram Profile Scraper DEV.js': 'store/DEV/Instagram Profile Scraper DEV/Instagram Profile Scraper DEV.js'
		'LinkedIn Accept And Message DEV.js': 'store/DEV/LinkedIn Accept And Message DEV/LinkedIn Accept And Message DEV.js'
		'LinkedIn Accept Invitations DEV.js': 'store/DEV/LinkedIn Accept Invitations DEV/LinkedIn Accept Invitations DEV.js'
		'LinkedIn Activities Extractor DEV.js': 'store/DEV/LinkedIn Activities Extractor DEV/LinkedIn Activities Extractor DEV.js'
		'LinkedIn Auto Endorse DEV.js': 'store/DEV/LinkedIn Auto Endorse DEV/LinkedIn Auto Endorse DEV.js'
		'LinkedIn Auto Follow DEV.js': 'store/DEV/LinkedIn Auto Follow DEV/LinkedIn Auto Follow DEV.js'
		'LinkedIn Auto Withdraw DEV.js': 'store/DEV/LinkedIn Auto Withdraw DEV/LinkedIn Auto Withdraw DEV.js'
		'LinkedIn Chat Extractor DEV.js': 'store/DEV/LinkedIn Chat Extractor DEV/LinkedIn Chat Extractor DEV.js'
		'LinkedIn Companies Employees DEV.js': 'store/DEV/LinkedIn Companies Employees DEV/LinkedIn Companies Employees DEV.js'
		'LinkedIn Companies Info DEV.js': 'store/DEV/LinkedIn Companies Info DEV/LinkedIn Companies Info DEV.js'
		'LinkedIn Company URL Finder DEV.js': 'store/DEV/LinkedIn Company URL Finder DEV/LinkedIn Company URL Finder DEV.js'
		'LinkedIn Followers Insights DEV.js': 'store/DEV/LinkedIn Followers Insights DEV/LinkedIn Followers Insights DEV.js'
		'LinkedIn Group Members DEV.js': 'store/DEV/LinkedIn Group Members DEV/LinkedIn Group Members DEV.js'
		'LinkedIn Learning Likers DEV.js': 'store/DEV/LinkedIn Learning Likers DEV/LinkedIn Learning Likers DEV.js'
		'LinkedIn Message Followup DEV.js': 'store/DEV/LinkedIn Message Followup DEV/LinkedIn Message Followup DEV.js'
		'LinkedIn Message Sender DEV.js': 'store/DEV/LinkedIn Message Sender DEV/LinkedIn Message Sender DEV.js'
		'LinkedIn Network Booster DEV.js': 'store/DEV/LinkedIn Network Booster DEV/LinkedIn Network Booster DEV.js'
		'LinkedIn Post Commenters DEV.js': 'store/DEV/LinkedIn Post Commenters DEV/LinkedIn Post Commenters DEV.js'
		'LinkedIn Post Likers DEV.js': 'store/DEV/LinkedIn Post Likers DEV/LinkedIn Post Likers DEV.js'
		'LinkedIn Profile Scraper DEV.js': 'store/DEV/LinkedIn Profile Scraper DEV/LinkedIn Profile Scraper DEV.js'
		'LinkedIn Profile URL Finder DEV.js': 'store/DEV/LinkedIn Profile URL Finder DEV/LinkedIn Profile URL Finder DEV.js'
		'LinkedIn Sales Navigator Profile Scraper DEV.js': 'store/DEV/LinkedIn Sales Navigator Profile Scraper DEV/LinkedIn Sales Navigator Profile Scraper DEV.js'
		'LinkedIn Sales Navigator Search Export DEV.js': 'store/DEV/LinkedIn Sales Navigator Search Export DEV/LinkedIn Sales Navigator Search Export DEV.js'
		'LinkedIn Sales Navigator URL Converter DEV.js': 'store/DEV/LinkedIn Sales Navigator URL Converter DEV/LinkedIn Sales Navigator URL Converter DEV.js'
		'LinkedIn Search Export DEV.js': 'store/DEV/LinkedIn Search Export DEV/LinkedIn Search Export DEV.js'
		'Medium Post Clappers DEV.js': 'store/DEV/Medium Post Clappers DEV/Medium Post Clappers DEV.js'
		'Pinterest Profile URL Finder DEV.js': 'store/DEV/Pinterest Profile URL Finder DEV/Pinterest Profile URL Finder DEV.js'
		'Quora Topics Influencers DEV.js': 'store/DEV/Quora Topics Influencers DEV/Quora Topics Influencers DEV.js'
		'Twitter Auto Follow DEV.js': 'store/DEV/Twitter Auto Follow DEV/Twitter Auto Follow DEV.js'
		'Twitter Auto Liker DEV.js': 'store/DEV/Twitter Auto Liker DEV/Twitter Auto Liker DEV.js'
		'Twitter Email Checker DEV.js': 'store/DEV/Twitter Email Checker DEV/Twitter Email Checker DEV.js'
		'Twitter Follower Collector DEV.js': 'store/DEV/Twitter Follower Collector DEV/Twitter Follower Collector DEV.js'
		'Twitter Following Collector DEV.js': 'store/DEV/Twitter Following Collector DEV/Twitter Following Collector DEV.js'
		'Twitter Hashtag Extractor DEV.js': 'store/DEV/Twitter Hashtag Extractor DEV/Twitter Hashtag Extractor DEV.js'
		'Twitter Likes Export DEV.js': 'store/DEV/Twitter Likes Export DEV/Twitter Likes Export DEV.js'
		'Twitter Media Extractor DEV.js': 'store/DEV/Twitter Media Extractor DEV/Twitter Media Extractor DEV.js'
		'Twitter Message Sender DEV.js': 'store/DEV/Twitter Message Sender DEV/Twitter Message Sender DEV.js'
		'Twitter Network Cleaner DEV.js': 'store/DEV/Twitter Network Cleaner DEV/Twitter Network Cleaner DEV.js'
		'Twitter Profile Like Extractor DEV.js': 'store/DEV/Twitter Profile Like Extractor DEV/Twitter Profile Like Extractor DEV.js'
		'Twitter Profile Scraper DEV.js': 'store/DEV/Twitter Profile Scraper DEV/Twitter Profile Scraper DEV.js'
		'Twitter Profile URL Finder DEV.js': 'store/DEV/Twitter Profile URL Finder DEV/Twitter Profile URL Finder DEV.js'
		'Web Elements Extractor DEV.js': 'store/DEV/Web Elements Extractor DEV/Web Elements Extractor DEV.js'

]
